{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Hello World</h1>
    <img src="{% static 'background.jpg' %}" alt="" height="300px" width="300px">
    <a href="/admin">admin</a>
</body>
</html>